.content {
    padding-top: 24px;
}

.sidebar {
    position: sticky;
    top: 20px;
}

.home__filter {
    background: linear-gradient(90deg, rgba(128, 207, 213, 0.5) 0%, rgba(0, 125, 152, 0.5) 100%);
    padding: 20px;
}

.home__list {
    padding: 20px;
}