h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
small,
a {
    margin: 0px;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.text-gray {
    color: #888;
}